<div class="wrapper">
  <app-ca-nav-bar [serverName]="serverName" [serverAddress]="serverAddress" [serverType]="serverType"></app-ca-nav-bar>
  <div id="content">
    <ng-container *ngIf="certificates && certificates.length; then certificatesExist; else certificatesNotExist">
    </ng-container>
    <ng-template #certificatesExist>
      <h3>Client certificates</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Distinguished Name</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cer of clientCertificates">
            <th scope="row">{{cer.serialNumber}}</th>
            <td>{{cer.distinguishedName}}</td>
            <td><button class="btn btn-primary" (click)="getTrustStorage(cer.serialNumber)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template #certificatesNotExist>
      <h2>There are no client certificates</h2>
    </ng-template>

    <div *ngIf="trustStorage">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Distinguished Name</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ts of trustStorage">
            <th scope="row">{{ts.serialNumber}}</th>
            <td>{{ts.distinguishedName}}</td>
            <td><button class="btn btn-primary" (click)="removeItem(ts.serialNumber)">Remove</button></td>
          </tr>
        </tbody>
      </table>
      <form [formGroup]="formGroup">
        <div class="form-row">
          <div class="form-group">
            <label for="type">Certificate: </label>
            <select class="dropdown-select form-control" formControlName="cert">
              <option *ngFor="let cer of certificates" [ngValue]="cer.serialNumber">
                {{cer.serialNumber}} {{cer.distinguishedName}}</option>
            </select>
            <div *ngIf="cert.errors && isValidFormSubmitted != null && !isValidFormSubmitted">
              <span *ngIf="cert.errors.required" class="text-danger"> Certificate is required!</span>
            </div>
            <br />
            <button class="btn btn-primary" (click)="addItem()">Add</button>
          </div>
        </div>
      </form>
      <button class="btn btn-primary" (click)="update()">Submit</button>

    </div>
  </div>